<?xml version="1.0"?>
<launch>
  
  <!-- Gazebo simulation arguments -->
  <arg name="sim" default="true" doc="If true, *robot*_planning_execution.launch uses ros_controllers instead of real controllers" />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="config" default="true" doc="TODO" />

  <!-- Robot model information for choosing correct launch/configuration files -->
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints" />
  <arg name="robot_make" default="universal_robot" doc="Robot manufacturer"/>
  <arg name="robot_model" default="ur5e" doc="Robot number model: 3, 5, or 10, e model if applicable)"/>
  <arg name="sim_workstation" default="false" doc="Attaches robot to simulated ARMada workstation" />
  <arg name="gripper_make" default="" doc="make of gripper (e.g. robotiq, sake_robotics, etc.)" />
  <arg name="gripper_model" default="" doc="model of gripper (e.g. r2f85, ezgripper, etc.)" />
  <arg name="wrist_cam" default="" doc="Attaches wrist camera (and millibar mounts) to end of robot arm before gripper"/>

  <!-- testing setting planning_group with param -->
  <param name="planning_group" type="string" value="manipulator" />

  <!-- Bring up Gazebo simulation of robot -->
  <include file="$(find armada_gazebo)/universal_robot/launch/ure.launch">
      <arg name="limited" value="$(arg limited)" />
      <arg name="robot_make" value="$(arg robot_make)" />
      <arg name="robot_model" value="$(arg robot_model)" />
      <arg name="sim_workstation" value="$(arg sim_workstation)" />
      <arg name="gripper_make" value="$(arg gripper_make)" />
      <arg name="gripper_model" value="$(arg gripper_model)" />
      <arg name="wrist_cam" value="$(arg wrist_cam)" />
  </include>
  
  <!-- Launch gazebo controllers for robot -->
  <include file="$(eval find(arg('robot_model') + '_moveit_config') + '/launch/' + arg('robot_model') + '_moveit_planning_execution.launch')" if="$(eval not arg('gripper_model'))">
      <arg name="sim" value="$(arg sim)" />
      <arg name="limited" value="$(arg limited)" />
      <arg name="sim_workstation" value="$(arg sim_workstation)" />
      <arg name="robot_make" value="$(arg robot_make)" />
      <arg name="robot_model" value="$(arg robot_model)" />
      <arg name="gripper_make" value="$(arg gripper_make)" />
      <arg name="gripper_model" value="$(arg gripper_model)" />
      <arg name="wrist_cam" value="$(arg wrist_cam)" />
  </include>
  <include file="$(eval find(arg('robot_model') + '_' + arg('gripper_model') + '_moveit_config') + '/launch/' + arg('robot_model') + '_moveit_planning_execution.launch')" unless="$(eval not arg('gripper_model'))">
      <arg name="sim" value="$(arg sim)" />
      <arg name="limited" value="$(arg limited)" />
      <arg name="sim_workstation" value="$(arg sim_workstation)" />
      <arg name="robot_make" value="$(arg robot_make)" />
      <arg name="robot_model" value="$(arg robot_model)" />
      <arg name="gripper_make" value="$(arg gripper_make)" />
      <arg name="gripper_model" value="$(arg gripper_model)" />
      <arg name="wrist_cam" value="$(arg wrist_cam)" />
  </include>

  <!-- Launch Rviz with moveit interface for robot -->
  <include file="$(eval find(arg('robot_model') + '_moveit_config') + '/launch/moveit_rviz.launch')" if="$(eval not arg('gripper_model'))">
      <arg name="config" value="$(arg config)" />
  </include>
  <include file="$(eval find(arg('robot_model') + '_' + arg('gripper_model') + '_moveit_config') + '/launch/moveit_rviz.launch')" unless="$(eval not arg('gripper_model'))">
      <arg name="config" value="$(arg config)" />
  </include>

</launch>
