<?xml version="1.0"?>
<launch>

  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="sim_workstation" default="false" doc="If true, spawn robot atop simualted ARMada workstation in Gazebo world" />
  <arg name="robot_make" default="" />
  <arg name="robot_model" default="" />
  <arg name="gripper_make" default="" doc="make of gripper (e.g. robotiq, sake_robotics, etc.)" />
  <arg name="gripper_model" default="" doc="model of gripper (e.g. r2f85, ezgripper, etc.)" />
  <arg name="wrist_cam" default="" />

  <group unless="$(arg limited)" >
      <group unless="$(arg sim_workstation)" >
	  <group unless="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot_$(arg wrist_cam)_$(arg gripper_model).urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot_$(arg wrist_cam).urdf.xacro'" />
	  </group>
	  <group if="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot_$(arg gripper_model).urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot.urdf.xacro'" />
	  </group>
      </group>
      <group if="$(arg sim_workstation)" >
	  <group unless="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot_$(arg wrist_cam)_$(arg gripper_model)_workstation.urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot_$(arg wrist_cam)_workstation.urdf.xacro'" />
	  </group>
	  <group if="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot_$(arg gripper_model)_workstation.urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_robot_workstation.urdf.xacro'" />
	  </group>
      </group>
  </group>

  <group if="$(arg limited)" >
      <group unless="$(arg sim_workstation)" >
	  <group unless="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_joint_limited_robot_$(arg wrist_cam)_$(arg gripper_model).urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_joint_limited_robot_$(arg wrist_cam).urdf.xacro'" />
	  </group>
	  <group if="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_joint_limited_robot_$(arg gripper_model).urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_joint_limited_robot.urdf.xacro'" />
	  </group>
      </group>
      <group if="$(arg sim_workstation)" >
	  <group unless="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_joint_limited_robot_$(arg wrist_cam)_$(arg gripper_model)_workstation.urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)//rdf/$(arg robot_model)_joint_limited_robot_$(arg wrist_cam)_workstation.urdf.xacro'" />
	  </group>
	  <group if="$(eval wrist_cam == '')">
              <param unless="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_joint_limited_robot_$(arg gripper_model)_workstation.urdf.xacro'" />
              <param if="$(eval gripper_model == '')" name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_model)_joint_limited_robot_workstation.urdf.xacro'" />
	  </group>
      </group>
  </group>

</launch>
