<?xml version="1.0"?>
<launch>

  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="sim_workstation" default="false" doc="If true, spawn robot atop simualted ARMada workstation in Gazebo world" />
  <arg name="robot_make" default="" />
  <arg name="robot_model" default="" />
  <arg name="gripper_make" default="" doc="make of gripper (e.g. robotiq, sake_robotics, etc.)" />
  <arg name="gripper_model" default="" doc="model of gripper (e.g. r2f85, ezgripper, etc.)" />
  <arg name="wrist_cam" default="" />
  <arg name="quick_changer" default="" />

  <!-- robot name arg -->
  <arg name="robot_name" default="$(eval robot_model + '_robot')" unless="$(arg limited)" />
  <arg name="robot_name" default="$(eval robot_model + '_joint_limited_robot')" if="$(arg limited)"/>

  <!-- vision hardware arg   -->
  <arg name="vision" default="$(eval '_' + wrist_cam)" unless="$(eval wrist_cam == '')"/>
  <arg name="vision" default="" if="$(eval wrist_cam == '')" />

  <!-- adapter hardware arg   -->
  <arg name="adapter" default="$(eval '_' + quick_changer)" unless="$(eval quick_changer == '')" />
  <arg name="adapter" default="" if="$(eval quick_changer == '')"/>

  <!-- gripper name arg -->
  <arg name="gripper_name" default="$(eval '_' + gripper_model)" unless="$(eval gripper_model == '')" />
  <arg name="gripper_name" default="" if="$(eval gripper_model == '')"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find armada_description)/$(arg robot_make)/urdf/$(arg robot_name)$(arg vision)$(arg adapter)$(arg gripper_name).urdf.xacro'" />

</launch>
