<?xml version="1.0" ?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="sim_workstation" default="false" doc="If true, spawn robot atop simualted ARMada workstation in Gazebo world" />
  <arg name="robot_make" default="" />
  <arg name="robot_model" default="" />
  <arg name="gripper_make" default="" doc="make of gripper (e.g. robotiq, sake_robotics, etc.)" />
  <arg name="gripper_model" default="" doc="model of gripper (e.g. r2f85, ezgripper, etc.)" />
  <arg name="wrist_cam" default="" />
  <arg name="quick_changer" default="" />

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <group if="$(arg load_robot_description)">
    <include file="$(find armada_description)/universal_robot/launch/ure_upload.launch">
      <arg name="limited" value="$(arg limited)"/>
      <arg name="sim_workstation" value="$(arg sim_workstation)" />
      <arg name="robot_make" value="$(arg robot_make)" />
      <arg name="robot_model" value="$(arg robot_model)" />
      <arg name="gripper_make" value="$(arg gripper_make)" />
      <arg name="gripper_model" value="$(arg gripper_model)" />
      <arg name="wrist_cam" value="$(arg wrist_cam)" />
      <arg name="quick_changer" value="$(arg quick_changer)" />
    </include>
  </group>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find ur5e_r2f85_moveit_config)/config/ur5e.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <param name="shape_transform_cache_lookup_wait_time" value="0.5" />
    <rosparam command="load" file="$(find ur5e_r2f85_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find ur5e_r2f85_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find ur5e_r2f85_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
